@model List<GetAllDistinctDepartmentDto>
@{
    int? selectedId = ViewBag.SelectedDepartmentId as int?;
}
<div class="mb-2">
    <label for="DepartmentId" class="form-label">Bölüm</label>
    <select class="form-select" id="DepartmentId" name="DepartmentId">
        <option value="">Tümü</option>
        @foreach (var dept in Model)
        {
            if (selectedId == dept.DepartmentId)
            {
                <option value="@dept.DepartmentId" selected="selected">@dept.Name</option>
            }
            else
            {
                <option value="@dept.DepartmentId">@dept.Name</option>
            }
        }
    </select>
</div>
