@model GetUserProfileDto
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <!-- SOL SÜTUN -->
        @await Component.InvokeAsync("_ProfileSideBarComponentPartial", new { id = ViewBag.UserId})

        <!-- SAĞ SÜTUN -->
        <div class="col-lg-9">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="card text-center p-3 shadow-sm card-stat-hover">
                        <div class="fw-bold fs-3 text-orange">@Model.AnswerCount</div>
                        <div class="text-muted small">Verdiğin Cevap</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center p-3 shadow-sm card-stat-hover">
                        <div class="fw-bold fs-3 text-orange">@Model.TotalLikes</div>
                        <div class="text-muted small">Toplam Beğeni</div>
                    </div>
                </div>
                @{
                    var rozet = "Bronz Rozet";
                    var rozetIcon = "fa-medal";
                    var rozetClass = "text-bronze";
                    var rozetDescription = "Katılıma Özel";

                    if (Model.TotalLikes >= 5)
                    {
                        rozet = "Altın Rozet";
                        rozetClass = "text-gold animate-pulse";
                        rozetDescription = "5+ Beğeniye özel";
                    }
                    else if (Model.TotalLikes >= 3)
                    {
                        rozet = "Gümüş Rozet";
                        rozetClass = "text-silver animate-pulse";
                        rozetDescription = "3+ Beğeniye özel";
                    }
                }
                <div class="col-md-4">
                    <div class="card text-center p-3 shadow-sm card-stat-hover">
                        <div class="fw-bold fs-5 @rozetClass">
                            <i class="fas @rozetIcon me-1"></i> @rozet
                        </div>
                        <div class="text-muted small">@rozetDescription</div>

                    </div>
                </div>
            </div>

            <!-- SON CEVAPLAR -->
            @await Component.InvokeAsync("_GetRecentAnswercomponentPartial",new {id=ViewBag.UserId})
            @await Component.InvokeAsync("_GetTopQuestionComponentPartial", new { id = ViewBag.UserId })
        </div>
    </div>
</div>

