/**
 * components/pagination.css
 * Sayfalama kontrolleri stilleri
 */

/* ----- PAGINATION ----- */
.pagination .page-link {
  color: var(--primary-color);
}

.pagination .page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}