<ul class="nav flex-column fw-semibold fs-6">
    <li class="nav-item mb-2">
        <a class="nav-link text-dark" href="/Questions">📌 Sorular</a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link text-dark" href="/Tags">🏷 Etiketler</a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link text-dark" href="/MyQuestions">❓ Sorularım</a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link text-dark" href="/MyAnswers">💬 Cevaplarım</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Favorites">❤️ Beğendiklerim</a>
    </li>
</ul>
